<div class="mainhead">
  <div class="heading">
    <h2>Your ESG ratings are</h2>
    <p>To see the full ESG rating you need to update some information</p>
  </div>
  <div class="btns">
    <button
      mat-raised-button
      class="wide-button"
      style="background-color: rgb(183, 61, 227)"
      color="primary"
    >
      UPDATE INFORMATION
    </button>
    <button
      mat-raised-button
      class="wide-button"
      style="background-color: rgb(68, 198, 0); width: 120px"
      color="primary"
    >
      PUBLISH
    </button>
  </div>
</div>
