<div class="main-all">
  <app-headline></app-headline>
  <app-midhead></app-midhead>

  <div class="grid">
    <div class="card-1" id="card-1">
      <p>ECP Allocation for existing homes</p>
    </div>

    <div class="card-2" id="card-2">
      <p>ECP Allocation for new homes</p>
      <div id="card-2-content"></div>
    </div>
    <div class="card-3" id="card-3">
      <p>Envoirmental Data</p>
    </div>
  </div>

  <!-- <div class="grid-container">
    <mat-grid-list [cols]="numCols" class="grid-list">
      <mat-grid-tile>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title> ECP Allocation for existing homes </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content" id="card-1">
           
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title> ECP Allocation for new homes </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content" id="card-2">
         
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title> Envoirmental Data </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content" id="card-3">
           
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->
</div>

<app-actions></app-actions>
<app-ecology></app-ecology>
