<div class="main-action">
  <div class="action-text">
    <h5>
      What Energy Efficiency Actions Have You Undertaken In The Last 12 Months?
    </h5>
    <p>Fixed and re-installed all appliances consuming more electricity.</p>
  </div>
  <div class="action-text">
    <h5>
      How Are You Mitigating The Following Climate Risks: Increased Flood Risk,
      Increased Risk Of Homes, Overheating
    </h5>
    <p>This will be work in progress.</p>
  </div>
  <div class="action-text">
    <h5>
      Do You Give Residents Information About Ventilation, Heating, Recycling,
      Etc. How Is This Done?
    </h5>
    <p>Yes, through our IOT device management.</p>
  </div>
</div>
